body,html{
    background-color: #f2f2f2;
}
/*头部*/
.heads a{
    float: right;
    margin-top: 46px;
}

/*主体内容*/
.modifyPassword00_top{
    background-color: #f2f2f2;
}

.modifyPassword00_top>div{
    width: 1190px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    color: #333333;
    margin: 0 auto;
    font-weight: bold;
}

.modifyPassword_container{
    height: 666px;
    background-color: #ffffff;
}

.modifyPassword_main{
    width: 1190px;
    margin: 0 auto;
}

.modifyPassword_main_top{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    color: #333333;
}

.modifyPassword_main form p{
    margin-top: 36px;
    font-size: 14px;
    color: #333333;
}

.modifyPassword_main form p input{
    width: 280px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #cccccc;
}

.verificationCode{
    margin-top: 10px;
    margin-left: 56px;
}

.verificationCode>div{
    width: 128px;
    height: 56px;
    float: left;
}

.verificationCode>div img{
    width: 130px;
    height: 56px;
}

.verificationCode a{
    color: #00abf1;
    font-size: 14px;
    float: left;
    height: 56px;
    line-height: 56px;
    margin-left: 20px;
}

.modifyPassword_main form p{
    clear: both;
}

.modifyPassword_main form p a,.modifyPassword_main form p button{
    width: 120px;
    height: 38px;
    border-radius: 6px;
    background-color: #808080;
    line-height: 38px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

.modifyPassword_next{
    background-color: #C61239!important;
}

label.error{
    margin-left: 10px;
    color: red;
    font-size: 14px;
}

.modifyPassword03{
    font-size: 20px;
    color: #333333;
    height: 180px;
    line-height: 180px;
    margin-left: 30px;
}

.modifyPassword01{
    font-size: 14px;
    margin-top: 60px;
    color: #333333;
    padding-bottom: 20px;
}

.modifyPassword01_btn{
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    background-color: #adadad;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-left: 60px;
    cursor: pointer;
}
