.sellDe-del{
	display: inline-block;
	position: relative;
}
.sellDe-del i{
	cursor: pointer;
}
/*确认入库操作*/
.sellDe-delbox,.sellDe-delbox2{
	position: absolute;
	top: 20px;
	right: 45%;
	width: 350px;
	border: 1px solid #ccc;
	background: #fff;
	display:none;
	z-index: 1;
}
.sellDe-delbox{
	background: #F2F2F2;
}
.sd-delboxt1{
	text-align: center;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #fff;
}
.sd-delboxt1_1{
	height: 30px;
	line-height: 30px;
	text-align: right;
	background: #fff;
}
.sd-delboxt1_1 i{
	margin-right: 10px;
}
.sd-delboxt2{
	text-align: center;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #fff;
}
.sd-delboxt2 select{
	width: 200px;
	height: 26px;
	background: #fff;
	border:none !important;
	outline: none;
	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
  	background-image: url(../img/sxl.png)no-repeat scroll right center transparent;
  	background: #fff;
}
.sd-delboxt2 select::-ms-expand { display: none; }
.sd-delboxt2 input{
	width: 200px !important;
	height: 20px !important;
	background:#fff !important;
	border:1px solid #ccc !important;
	text-align: left !important;
	border: none !important;
	
}
.sd-delboxt3{
	width: 320px;
	margin:10px auto 0 auto;
	text-align: right;
}
.sd-delboxt3 span{
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
	padding: 5px 20px;
	background: #666666;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
}
.sd-delboxt3-x{
	background: #C61239 !important;
}
/*确认取消出库操作*/
.sellDe-delbox2{
	background: #F2F2F2;
}
.delbox2t1_1{
	height: 30px;
	line-height: 30px;
	background: #fff;
}
.delbox2t1_1 i{
	margin-right: 10px;
}
.delbox2t1{
	height: 30px;
	line-height: 30px;
	margin: 20px;
}
.delbox2t2{
	text-align: right;
	margin: 20px;
}
.delbox2t2 span{
	padding: 5px 20px;
	border-radius: 5px;
	background: #666666;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
.delbox2t2-x{
	background: #C61239 !important;
}

/*2016/7/5新增*/

.window_1,.window_2,.window_3{
	width: 25.5%;
	min-width: 490px;
	background: #e4e4e4;
	position: fixed;
	top: 40%;
	left: 31.5%;
	z-index: 9999;
	box-sizing: border-box;
	display: none;
}

.window_1_p1,.window_3_p1{
	width: 100%;
	background: #ffffff;
	vertical-align: middle;
	float: left;
	
}

.window_1_p1 span,.window_3_p1 span{
	padding: 8px 5px;
	float: left;
}

.window_1 p a{
	color: #6699FF;
	text-decoration: underline;
}

.window_1 p a:hover{
	color: green;
}

.window_1_p2{
	padding: 10px 0 20px 20px;
	float: left;
}

.window_1_file{
	padding: 5px;
	box-sizing: border-box;
	height: 35px;
	opacity: 0;
	filter:alpha(opacity=0);
	position: absolute;
	color: #333;
	top: -3px;
	right: 0;
	cursor: pointer;
}

.window_1_text{
	width: 240px;
	height: 23px;
	margin: 70px 10px 30px 20px;
	padding: 0 6px;
	float: left;
}

.window_1 .button{
	width: 70px;
	height: 25px;
	line-height: 25px;
	margin: 70px 10px 30px 0;
	overflow: hidden;
	text-align: center;
	background: #ffffff;
	border: 1px solid #666666;
	border-radius: 5px;
	float: left;
	cursor: pointer;
	position: relative;
}

.window_1 .button_1{
	color: #333;
	height: 27px;
	line-height: 27px;
}

.window_2{
	height: 200px;
	padding: 20px;
	box-sizing: border-box;
}

.window_2 img,.window_2 p{
	height: 40px;
	line-height: 35px;
	margin: 60px 0 0 30px;
	display: block;
	float: left;
}

.window_3{
	width: auto;
}

.window_3_p2{
	line-height: 25px;
	margin: 60px 20px 0;
}

.window_3_p3{
	line-height: 25px;
	margin: 0 25px 0 40px;
}

.window_3 button{
	width: 100px;
	height: 25px;
	margin: 15px 230px 20px;
	border-radius: 5px;
	background: #ffffff;
	border: 1px solid #666666;
	cursor: pointer;
}

.icon{
	padding: 5px;
	font-size: 20px;
	float: right;
	font-weight: bold;
	cursor: pointer;
}